<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <div class="container bg-light mt-4">
      <div class="jumbotron bg-light">
        <h1 class="display-4 text-primary">Create a product</h1>
        <p class="lead">
          Thank you for hunting a new product. Please give all the details blow
          in order to publish the product.
        </p>
        <hr class="my-4" />

        <div class="container p-2">
          <form
            action="{% url 'create' %}"
            method="POST"
            enctype="multipart/form-data"
          >
            {% csrf_token %}

            <label for="title">Title:</label>
            <br />
            <input type="text" name="title" id="title" required />
            <br />

            <br />

            <label for="url">Link to product:</label>
            <br />
            <input type="url" name="url" id="url" required /> <br />

            <br />

            <label for="icon">Load Icon:</label>
            <br />
            <input type="file" name="icon" id="icon" required />
            <br />

            <br />

            <label for="image">Load Image:</label>
            <br />
            <input type="file" name="image" id="image" required />
            <br />

            <br />

            <label for="body">Summary:</label>
            <br />
            <textarea
              name="body"
              id="body"
              cols="40"
              rows="5"
              required
            ></textarea>
            <!-- <input type="textarea" name="body" id="body" /> -->
            <br />

            <br />

            <input
              type="submit"
              value="Submit!"
              class="btn btn-primary btn-lg"
            />
          </form>
          <br />
          <!-- Display error message if the username has been taken already -->
          {% if error %}

          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
