<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}

    <div class="container bg-light">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to Product Hunt!!!</h1>
        <p class="lead">
          I am happy to see you here. Let's find great products together so we
          can hlp other to make an smart and informed decision.
        </p>
        <hr class="my-4" />
        <p>
          Just log in and create your product you have found, Mr Hunter!
        </p>
        <a
          class="btn btn-primary btn-lg"
          href="{% url 'create' %}"
          role="button"
          >Create!</a
        >
      </div>
    </div>

    {% endblock %}
  </body>
</html>
